form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-top: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif; /* Adicionando a definição da fonte */
}


input, textarea {
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid rgb(24, 24, 167);
}

button {
    background-color: rgb(24, 24, 167);
    color: #fff;
    padding: 15px;
    border: none;
    font: bold;
}

button:hover {
    background: black;
    color: #fff;
    font: bold;
    box-shadow: black 2px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
}
