body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

header {
  background-color: rgb(24, 24, 167);
  color: #fff;
  padding: 10px;
  font: bold;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font: bold;
  padding: 15px;
}

nav ul li a:hover {
  background: black;
    color: #fff;
    font: bold;
    box-shadow: black 2px;
    cursor: pointer;
}

main {
  padding: 20px 0;
}

footer {
  background-color: rgb(24, 24, 167);
  color: #fff;
  padding: 10px;
  text-align: center;
  font: bold;
}